{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}{% spaceless %}

{# admin-styles styles & script  #}
{% include 'admin_styles/adminhead.html' %}

{# custom styles & script #}
{% include 'admin_styles/extrahead.html' %}

{% endspaceless %}{% endblock %}

{% block bodyclass %}admin-styles {{ block.super }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{% include 'admin_styles/svg/logo-django.svg' %}</a>
</h1>
{% endblock %}

{% block welcome-msg %}{% endblock %}
{% block userlinks %}{% include 'admin_styles/includes/userlinks.html' %}{% endblock %}
{% block nav-global %}{% endblock %}