{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "admin_styles/css/styles.css" %}" />
{# TODO: enable certain contrib styles only when apps are installed, or on demand #}
<link rel="stylesheet" type="text/css" href="{% static "admin_styles/css/contrib.cms.css" %}" />
{% include 'admin_styles/extrahead.html' %}
{% endblock %}

{% block bodyclass %}{{ block.super }} admin-styles{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{% include 'admin_styles/svg/logo-django.svg' %}</a>
</h1>
{% endblock %}

{% block welcome-msg %}{% endblock %}

{% block nav-global %}{% endblock %}