include README.md
include LICENSE

# Include all static files
recursive-include admin_styles *.py
recursive-include admin_styles/static *
recursive-include admin_styles/templates *
recursive-exclude * *.pyc
