&.login {
    padding: 100px 0 0;
    background: none;
    background-color: #fff;

    #header {
        position: absolute;
        box-shadow: none;
        background-color: #333;
    }

    #branding {

        path {
            fill: #fff;
        }
    }

    #container {
        width: 28em;
        max-width: calc(100% - 20px);
        min-width: 200px;
        margin: 0 auto;
        padding: 56px 0 0;
    }

    #footer {
        display: none;
    }

    .errornote {
        border: 1px solid #ba2121;
    }

    .form-row {
        float: none;
        margin: 0 0 10px;
        padding: 0;
        border-bottom: 0;
    }

    .submit-row {
        margin: 20px 0 0;
        padding: 0;
        text-align: center;

        label {
            display: none;
        }
    }
}