$buttons-border-radius: 3px;

.calendar td a:active,
.timelist a:active {
    color: white;
    background: #417690;
}

.calendar-shortcuts,
span.datetimeshortcuts {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;

    a {
        display: inline-block;
        box-sizing: border-box;
        height: 30px;
        min-width: 36px;
        margin: 0 0 4px 6px;
        padding: 4px 6px;
        color: #666;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: $buttons-border-radius;
        background-color: #fff;

        &:hover {
            color: #000;
            background-color: #f9f9f9;
        }
    }
}

.datetime {

    .timezonewarning {
        color: #999;
    }

    .datetime-label {
        display: inline-block;
        vertical-align: middle;
        min-width: 60px;
        color: #666;
        font-size: 13px;
        font-weight: bold;
    }
}


.related-widget-wrapper {
    display: flex;
    flex-wrap: wrap;
    float: none;

    & > select {
        width: calc(100% - 126px);
    }

    ul {
        width: 100%;
        margin: 0;
    }

    .add-related,
    .delete-related,
    .change-related {
        display: block;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        margin: auto 0 auto 1em;
        padding: 5px;
        line-height: 1;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: $buttons-border-radius;

        img {
            display: block;
            width: 13px;
        }
    }

    .add-related {
        border-color: #5da03d;
    }

    .delete-related {
        border-color: #dd4646;
    }

    .change-related {
        border-color: $main_color;
    }

    .selector {
        display: flex;
        align-items: center;
        width: 100%;

        .selector-available,
        .selector-chooser,
        .selector-chosen {
            float: none;
        }

        .selector-available,
        .selector-chosen {
            width: calc(50% - 16px);
        }

        .selector-chooser {
            width: 22px;
            margin: 0 5px;
        }

        .selector-filter {
            display: flex;
            box-sizing: border-box;
            align-items: center;
            min-height: 50px;

            label {
                float: none;
                margin: 0 10px 0 0;
            }
        }

        select {
            height: 300px;
        }

        .selector-chosen select {
            min-height: 350px;
        }

        select {
            padding: 0;
        }

        option {
            padding: 4px;
        }
    }

    .selector.stacked {
        flex-direction: column;

        .selector-available,
        .selector-chosen {
            width: 100%;
        }

        .selector-chooser {
            display: flex;
            justify-content: center;
            width: auto;
            margin: 0 0 10px;

            li {
                float: none;
            }
        }
    }
}

.ckeditor-widget {
    box-sizing: border-box;
    display: block;
    width: calc(100% - 2px);
}


/*Checkboxes styles*/
.checkbox-row {

    input[type='checkbox'] {
        display: none;
    }

    input[type='checkbox'] + label {
        position: relative;
        display: block;
        box-sizing: border-box;
        margin-bottom: 0;
        padding-left: 35px !important;
        color: #999;
        font-weight: bold;
        line-height: 24px;
        cursor: pointer;
    }

    input[type='checkbox'] + label:before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        box-sizing: border-box;
        width: 24px;
        height: 24px !important;
        border: 2px solid #999;
        border-radius: 12px;
        background-color: #999;
        transition: all 0.12s, border-color 0.08s;
    }

    input[type='checkbox']:checked + label {
        color:  #70bf2b;
    }

    input[type='checkbox']:checked + label:before {
        border-color: #70bf2b;
        background-color: #70bf2b;
    }

    input[type='checkbox'] + label:after {
        content: '';
        position: absolute;
        display: block;
        top: 4px;
        left: 9px;
        width: 3px !important;
        height: 14px !important;
        border-radius: 0;
        border-right: 3px solid #fff;
        transform: rotate(90deg);
    }
    
    input[type='checkbox']:checked + label:after {
        width: 6px !important;
        height: 14px !important;
        top: 2px;
        left: 7px;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        transform: rotate(40deg);
    }

    label {
        flex-grow: 0;
        width: auto !important;
        order: 2;
    }
}