div.breadcrumbs {
    z-index: 10;
    position: fixed;
    left: 0;
    top: var(--header-height);
    right: 0;
    bottom: auto;
    height: var(--breadcrumbs-height);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    padding: 0.5rem 1.25rem;
    font-weight: bold;
    line-height: 1;
    border-bottom: 1px solid var(--breadcrumbs-border-color);

    a {
        display: inline;
        flex-grow: 0;
        font-weight: normal;
        line-height: 1;
    }
}