#header {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    height: var(--header-height);
    padding: 0 1.25rem;
    overflow: visible;
    border-bottom: var(--header-border);
    border-color: var(--header-border-color);
    background: var(--header-bg);
}

#branding {
    width: auto;
    height: 2.25rem;

    a,
    h1 {
        display: block;
        width: auto;
        height: 100%;
        margin: 0;
    }

    svg {
        display: block;
        width: 5rem;
        height: 100%;
    }

    path {
        fill: var(--header-fg);
    }
}

#user-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row-reverse;
    column-gap: 2rem;
    height: 100%;
    overflow: visible;
    padding: 0;
    margin: 0 0 0 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1;
    text-transform: none;

    a:link,
    a:visited,
    a.section:link,
    a.section:visited {
        color: var(--header-link-fg);
    }

    a:hover {
        text-decoration: none;
    }

    .user-site {
        margin: 0;

        a {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: auto;
            height: 100%;
            border-bottom: 0;

        }
    }

    .user-menu {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 10rem;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;

        &:hover {
            overflow: visible;
        }

        li {
            display: flex;
            list-style-type: none;
            padding: 0;
            border: 1px solid var(--header-border-color);
            border-top: 0;
            background-color: var(--header-bg);

            &:nth-child(1) {
                order: 1;
                border: 0;
                border-bottom: 1px solid var(--header-border-color);
            }

            &:nth-child(2) {
                order: 10;
            }

            &:nth-child(3) {
                order: 2;
            }

            &:nth-child(4) {
                order: 11;
            }

            &:hover:not(:first-child) {
                border-color: var(--primary);
            }

            div {
                height: 100%;
            }

        }

        a,
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: calc(var(--header-height) - 1px);
            margin: 0;
            padding: 0.5rem;
            border: 0;

        }

        a:hover {
            color: #fff;
            text-decoration: none;
            background-color: var(--primary);
        }

        .theme-toggle {

            svg.theme-icon-when-auto,
            svg.theme-icon-when-dark,
            svg.theme-icon-when-light {
                display: block;
                height: 100%;

                fill: var(--header-link-fg);
                color: var(--header-bg);
            }
        }
    }
}