{% spaceless %}
{% load static %}
{# default use compiled css files #}
<link rel="stylesheet" type="text/css" href="{% static "admin_styles/css/styles.css" %}" />

{# TODO: enable certain contrib styles only when apps are installed, or on demand #}
<link rel="stylesheet" type="text/css" href="{% static "admin_styles/css/contrib/cms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin_styles/css/contrib/filer.css" %}" />

{% comment %}
{# if set use scss width django-libsass & compressor #}
{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "admin_styles/scss/styles.scss" %}" />
<link rel="stylesheet" type="text/x-scss" href="{% static "admin_styles/scss/contrib/cms.scss" %}" />
<link rel="stylesheet" type="text/x-scss" href="{% static "admin_styles/scss/contrib/filer.scss" %}" />
{% endcomment %}

{# add your css and js here #}
{% endspaceless %}