
#content form .form-row .filer-dropzone {
    width: 100%;
    position: relative;
    min-height: 90px !important;
    padding: 0;
    background-color: #fff;

    & ~ a {
        display: none !important;
    }

    .dz-message {
        position: absolute;
        top: 50%;
        margin-top: 0 !important;
        transform: translateY(-50%);
    }

    .filerFile,
    .filerFile.js-file-selector,
    &.js-object-attached .filerFile {
        top: 50% !important;
        transform: translateY(-50%);
    }

    .filerFile.js-file-selector {
        display: flex;
        align-content: center;
        align-items: center;
        width: 100%;
        left: 0;
        padding: 0 5px;

        & > a {
            margin: 0 !important;
            padding: 0 !important;
        }
        .description_text,
        .filerClearer {
            margin: 0 1em 0 0 !important;
            padding: 0.5em !important;
        }

        .choose-file {
            box-sizing: border-box;
            padding: 1em;
        }

        .js-related-lookup {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        .related-lookup-change {
            flex-shrink: 0;
            width: 36px !important;
            height: 36px !important;

            .fa {
                display: block;
                font-size: 20px;
            }
        }
    }
    

    .related-lookup {
        margin-top: 0;
    }
}

.filebrowser {
    
    #container {
        .breadcrumbs + #content, 
        .breadcrumbs + .messagelist + #content {
            margin-left: 0% !important;
        }

        .insertlinkButton {
            display: block;
            box-sizing: border-box;
            width: 2em;
            height: 2em;
            opacity: 1;
            background-color: rgb(0, 187, 255);
            background-image: url(
                'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m6.1 12.6 8.6 8.4 2-2-6.4-6.5 6.4-6.4L14.6 4 6 12.6Z" fill="rgb(255,255,255)" /></svg>');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 80%;
            border-radius: 3px;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0);
            }

        }
    }
}
