#changelist {

    &.module {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media(min-width: 765px) {
            flex-wrap: nowrap;
        }
    }

    #toolbar {
        order: 1;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        border: 0;
        background-color: #ddd;
    }

    #changelist-filter {
        order: 3;
        z-index: 1;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        top: auto;
        right: auto;
        h2 {
            padding: 7px 15px;
        }
        @media(min-width: 765px) {
            width: 270px;
            padding: 3px 0 0 3px;
        }
    }

    #changelist-form {
        order: 2;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        .vTextField,
        .vUUIDField {
            box-sizing: border-box;
            width: auto;
            max-width: 100%;
        }
    }

    .actions,
    .results {
        box-sizing: border-box;
        margin: 0;
    }

    &.module.filtered {
        > #changelist-form, > .changelist-form-container {
            width: 100%;
            @media(min-width: 765px) {
                width: calc(100% - 270px);
            }
        }
    }

    #changelist-search {

        label {
            z-index: 2;
            position: relative;
            display: inline-block;
            width: auto;
            padding: 0 7px;

            img {
                margin: -2px 0 0;
                width: 16px;
                height: 16px;
            }
        }

        input#searchbar {
            z-index: 1;
            position: relative;
            box-sizing: border-box;
            height: auto;
            margin-left: -32px;
            padding: 5px 6px 5px 26px;
            border-radius: 0;
            background-color: #fff;

            &:focus {
                border-color: #0bf;
            }
        }

        input[type="submit"] {
            padding: 5px 6px;
            color: #666;
            font-size: 13px;
            line-height: 18px;
            border-radius: 3px;
            border-color: #ccc;
            box-shadow: none;

            &:hover {
                border-color: #ccc;
                background-color: #f2f2f2;
            }
        }
    }

    thead th {
        border-bottom: 0;
        background-color: #ddd;
    }
}


#changelist-filter {

    li {

        &.selected {

            a {
                color: #111;
                font-weight: bold;
            }
        }
    }
}

.paginator {

    a:link, a:visited {
        background: $main_color;
        color: white;
    }
    a.showall {
        &:link, &:visited {
            background: none;
            color: $main_color;
        }
    }
}
