&.change-form {

    fieldset.module {

        &.collapsable {

            h2 {
                position: relative;
            }

            h2:after {
                content: '[ - ]';
                position: absolute;
                right: 0;
                top: 0;
                padding: 8px 20px;
                cursor: pointer;
            }
        }

        &.closed {
            margin-bottom: 10px;

            .form-row,
            .inline-related,
            .add-row {
                display: none;
            }

            h2:after {
                content: '[ + ]';
            }
        }
    }

    .admin-sort-inline,
    .inline-group {
        box-sizing: border-box;
        width: 100%;
    }

    .admin-sort-ghost:after {
        opacity: 0.5;
        background-color:#00bbff;
    }
}