input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus, select:focus,
.vTextField:focus {
    border-color: $main_color;
}

label {
    color: #333;
}

form {

    td,
    th {
        vertical-align: middle;
    }

    label {
        display: block;
        float: none;
        width: auto;
        box-sizing: border-box;
        padding: 4px 0;
    }

    label + p,
    label + div.help,
    label + div.readonly,
    input + p.help,
    input + div.help,
    select + p.help,
    select + div.help,
    textarea + p.help,
    textarea + div.help {
        margin-left: 0;
        padding-left: 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
        box-sizing: border-box;
        border-radius: 0;
        background-color: #fff;
    }

    .aligned {

        p.help,
        div.help {
            margin-left: 0;
            padding-left: 0;
            color: #999;
        }

        input {
            margin-left: 0;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
        }
    }
}


fieldset.module {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select,
    .vTextField,
    .vLargeTextField,
    .colM .aligned .vLargeTextField,
    .colM .aligned .vXMLLargeTextField {
        box-sizing: border-box;
        width: 100%;
        line-height: 1;
    }

    .vTextField,
    .vLargeTextField,
    .colM .aligned .vLargeTextField,
    .colM .aligned .vXMLLargeTextField,
    textarea {
        line-height: 1.25;
    }

    select {
        flex-grow: 1;
        flex-shrink: 1;
        width: auto;
        height: 30px;
    }

    .selector-available,
    .selector-chosen {
    
        select {
            width: 100%;
        }
    }

    input.vDateField,
    input.vTimeField {
        width: 120px;
        margin-right: 0;
        margin-bottom: 4px;
    }
}

fieldset.collapsed {
    border: 0;
    border-radius: 0;

    .form-row {
        display: none;
    }
}


.errornote {
    padding: 10px;
    border-radius: 0;
    border: 0;
    background-color: #faf0f0;
}

.form-row {
    float: none;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;

    &.errors {
        margin: 0 0 4px;
        background-color: #faf0f0;
        border-bottom: 1px solid #faf0f0;

        .errorlist {
            background-color: transparent;
            li {
                padding: 2px 0;
            }
        }
    }
}

div.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
}

.aligned .form-row > div {
    display: block;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
}


.aligned .form-row > .fieldBox,
.aligned .form-row > .field-box {
    width: auto;
    float: none;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding-top: 0;
    padding: 0 10px 0 0;
    border: 0;


    &:last-child {
        padding-right: 0;
    }
}

.inline-group .tabular tr td.original {
    position: relative;

    p {
        top: 0.5em;
        font-size: 11px;
    }
}

.paginator,
#changelist .paginator,
&.change-form .submit-row {
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 8px 20px;
    background-color: #F4F4F4;
    border: 0;
    border-top: 1px solid #ddd;
    border-radius: 0;
}

.filtered .paginator {
    width: 100%;
    margin: 0;
    background-color: #f4f4f4;
}

.calendarbox,
.clockbox {
    width: auto;
}
