/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./admin_styles/admin.scss ***!
  \******************************************************************************************************************/
:root,
html[data-theme=light] {
  --header-height: 2.875rem;
  --sidebar-width-closed: 1.25rem;
  --sidebar-width-open: 18.75rem;
  --breadcrumbs-height: 2.375rem;
  --submit-row-height: 2.875rem;
  --primary: #79aec8;
  --secondary: #417690;
  --accent: #f5dd5d;
  --primary-fg: #fff;
  --primary-border: 1px solid;
  --primary-border-color: #ccc;
  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;
  --link-fg: #417893;
  --link-hover-color: #036;
  --link-selected-fg: #5b80b2;
  --content-bg: #f4f4f4;
  --header-fg: var(--body-fg);
  --header-color: var(--header-fg);
  --header-bg: var(--primary-fg);
  --header-link-fg: var(--link-fg);
  --header-border: 1px solid;
  --header-border-color: var(--primary-border-color);
  --header-branding-color: var(--accent);
  --breadcrumbs-bg: var(--content-bg);
  --breadcrumbs-fg: var(--body-fg);
  --breadcrumbs-link-fg: var(--link-fg);
  --breadcrumbs-border-color: var(--primary-border-color);
  --sidebar-fg: var(--body-fg);
  --sidebar-bg: var(--content-bg);
  --sidebar-border-color: var(--primary-border-color);
  --sidebar-button-bg: var(--body-bg);
  --sidebar-button-fg: var(--body-fr);
  --sidebar-caption-bg: var(--primary);
  --sidebar-caption-fg: var(--primary-fg);
  --hairline-color: #e8e8e8;
  --border-color: #ccc;
  --error-fg: #ba2121;
  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;
  --darkened-bg: #f8f8f8;
  /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4;
  /* E.g. selected table cells */
  --selected-row: #ffc;
  --button-fg: #fff;
  --button-bg: var(--primary);
  --button-hover-bg: #609ab6;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: #205067;
  --close-button-bg: #747474;
  --close-button-hover-bg: #333;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;
  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
  --submit-row-bg: var(--primary-fg);
  --submit-row-border-color: var(--primary-border-color);
  --font-family-primary: "Source Sans 3", Inter, system-ui, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: "Source Code", "Source Code Pro", ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

body,
input,
textarea,
select,
.form-row p,
form .button {
  font-family: var(--font-family-primary);
}

.module {
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  left: 200vw;
}

.delete-confirmation form .cancel-link {
  display: inline;
}

.submit-row {
  z-index: 21;
  position: fixed;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  margin: 0;
  border: 0;
  background-color: var(--submit-row-bg);
  border: 0;
  border-radius: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--submit-row-border-color);
}
.submit-row > div, .submit-row > a, .submit-row > a.deletelink, .submit-row > a.cancellink, .submit-row > button, .submit-row > input {
  display: block;
  width: auto;
  height: auto;
}

#nav-sidebar + #content-start .submit-row {
  left: var(--sidebar-width-closed);
}

.shifted #nav-sidebar + #content-start .submit-row {
  left: var(--sidebar-width-open);
}

div.breadcrumbs {
  z-index: 20;
  position: fixed;
  left: 0;
  top: var(--header-height);
  right: 0;
  bottom: auto;
  height: var(--breadcrumbs-height);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  line-height: 1;
  border-bottom: 1px solid var(--breadcrumbs-border-color);
}
div.breadcrumbs a {
  display: inline;
  flex-grow: 0;
  font-weight: normal;
  line-height: 1;
}

#header {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  height: var(--header-height);
  padding: 0 1.25rem;
  overflow: visible;
  border-bottom: var(--header-border);
  border-color: var(--header-border-color);
  background: var(--header-bg);
}

#branding {
  width: auto;
  height: 2.25rem;
}
#branding a,
#branding h1 {
  display: block;
  width: auto;
  height: 100%;
  margin: 0;
}
#branding svg {
  display: block;
  width: 5rem;
  height: 100%;
}
#branding path {
  fill: var(--header-fg);
}

#user-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row-reverse;
  column-gap: 2rem;
  height: 100%;
  overflow: visible;
  padding: 0;
  margin: 0 0 0 2rem;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1;
  text-transform: none;
}
#user-tools a:link,
#user-tools a:visited,
#user-tools a.section:link,
#user-tools a.section:visited {
  color: var(--header-link-fg);
}
#user-tools a:hover {
  text-decoration: none;
}
#user-tools .user-site {
  margin: 0;
}
#user-tools .user-site a {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  border-bottom: 0;
}
#user-tools .user-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10rem;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
#user-tools .user-menu:hover {
  overflow: visible;
}
#user-tools .user-menu li {
  display: flex;
  list-style-type: none;
  padding: 0;
  border: 1px solid var(--header-border-color);
  border-top: 0;
  background-color: var(--header-bg);
}
#user-tools .user-menu li:nth-child(1) {
  order: 1;
  border: 0;
  border-bottom: 1px solid var(--header-border-color);
}
#user-tools .user-menu li:nth-child(2) {
  order: 10;
}
#user-tools .user-menu li:nth-child(3) {
  order: 2;
}
#user-tools .user-menu li:nth-child(4) {
  order: 11;
}
#user-tools .user-menu li:hover:not(:first-child) {
  border-color: var(--primary);
}
#user-tools .user-menu li div {
  height: 100%;
}
#user-tools .user-menu a,
#user-tools .user-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(var(--header-height) - 1px);
  margin: 0;
  padding: 0.5rem;
  border: 0;
}
#user-tools .user-menu a:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--primary);
}
#user-tools .user-menu .theme-toggle svg.theme-icon-when-auto,
#user-tools .user-menu .theme-toggle svg.theme-icon-when-dark,
#user-tools .user-menu .theme-toggle svg.theme-icon-when-light {
  display: block;
  height: 100%;
  fill: var(--header-link-fg);
  color: var(--header-bg);
}

button.toggle-nav-sidebar {
  position: fixed;
  top: 6.5rem;
  left: var(--sidebar-width-closed);
  transform: translateX(-50%);
  width: 1.75rem;
  height: 1.75rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0;
  color: var(--sidebar-button-fg);
  font-size: 1rem;
  line-height: 1;
  border-radius: 3rem;
  border: 1px solid var(--sidebar-border-color);
  background-color: var(--sidebar-button-bg);
  box-shadow: 0;
}
button.toggle-nav-sidebar:before {
  margin-top: -0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: var(--sidebar-button-fg);
}

nav#nav-sidebar {
  position: fixed;
  padding-right: 1rem;
  left: 0;
  top: 0;
  width: var(--sidebar-width-closed);
  height: 100%;
  margin: 0;
  padding: 6.5rem 0 0;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  border-right: 1px solid var(--sidebar-border-color);
  background-color: var(--sidebar-bg);
}
nav#nav-sidebar:-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}
nav#nav-sidebar > input {
  margin: 0rem 1.25rem 1rem;
  width: calc(var(--sidebar-width-open) - 2.5rem);
}
nav#nav-sidebar > div {
  padding: 0 1.25rem;
  width: var(--sidebar-width-open);
  background-color: var(--sidebar-bg);
}
nav#nav-sidebar table {
  width: 100%;
}
nav#nav-sidebar .module caption {
  color: var(--sidebar-caption-fg);
  background-color: var(--sidebar-caption-bg);
}
nav#nav-sidebar .module caption .section {
  color: var(--sidebar-caption-fg);
}
nav#nav-sidebar .module td {
  display: none;
}

.main > #nav-sidebar {
  visibility: visible;
}

.main.shifted button.toggle-nav-sidebar {
  left: var(--sidebar-width-open);
}
.main.shifted #nav-sidebar {
  left: 0;
  width: var(--sidebar-width-open);
}

#container {
  padding: 0;
}

.main {
  z-index: 1;
  position: relative;
  width: 100%;
  padding: calc(var(--header-height) + var(--breadcrumbs-height)) 0 var(--submit-row-height);
  background-color: var(--content-bg);
}

.main > #nav-sidebar + .content {
  max-width: 100%;
  padding-left: var(--sidebar-width-closed);
}

.main.shifted > #nav-sidebar + .content {
  max-width: 100%;
  padding-left: var(--sidebar-width-open);
}

nav + #main {
  padding-top: calc(var(--header-height) + var(--breadcrumbs-height));
}

.change-form .module {
  background-color: var(--content-bg);
}

.admin-styles.login #header {
  position: relative;
  background-color: var(--header-fg);
}
.admin-styles.login #header path {
  fill: var(--header-bg);
}

@media (max-width: 1024px) {
  div#header {
    flex-direction: row;
    padding: 0 1.25rem;
  }
  div#header #user-tools {
    margin: 0 0 0 2rem;
  }
}
@media (max-width: 767px) {
  .main > #nav-sidebar + .content,
  .main.shifted > #nav-sidebar + .content {
    padding-left: 0;
  }
  #nav-sidebar + #content-start .submit-row,
  .shifted #nav-sidebar + #content-start .submit-row {
    left: 0;
  }
  div.submit-row {
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  div.submit-row input,
  div.submit-row button,
  div.submit-row a {
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 25%;
  }
  div.submit-row a.deletelink {
    margin: 0 0 0 auto;
  }
}
