* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

body,
input,
textarea,
select,
.form-row p,
form .button {
    font-family: var(--font-family-primary);
}

.module {
    background-color: transparent;
}

.visually-hidden {
    position: absolute;
    left: 200vw;
}