
@import "vars";


html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    background-color: #f4f4f4;
}

.admin-styles,
.filebrowser {
    @import "admin/base";
    @import "admin/buttons";
    @import "admin/forms";
    @import "admin/widgets";
    
    @import "admin/toolbar";
    @import "admin/changelist";
    @import "admin/changeform";
    
    @import "admin/login";
    @import "admin/popup";

    @import "admin/queries";
}
