html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    background-color: #f4f4f4;
}

.admin-styles {

    @import "base/base";
    @import "base/buttons";
    @import "base/changelist";
    @import "base/forms";
    @import "base/widgets";
    @import "base/login";

    @import "base/popup";

    @import "base/queries";
}
