// ----------------------------------------------------------------------------
// CMS Frontend
// to manualy include in your frontend scss
// ----------------------------------------------------------------------------

.cms-toolbar {

    .cms-btn {

    }
    
    .cms-btn-disabled {
        display: none;
    }

    .cms-toolbar-item-logo {
        box-sizing: border-box;
        width: 100px;
        height: 46px;
        padding: 5px 10px;

        svg {
            display: block;
            width: 80px;
            height: 36px;
        }
    }
}

.cms-sideframe {
    max-width: 1024px;
}

div.cms {
    
    .cms-sideframe-controls {
        right: -50px;
        background-color: pink;
    }

    .cms-sideframe-history {
        display: none;
    }

    .cms-sideframe-close {
        width: 40px;
        height: 40px;
    }

    .cms-modal {
        //min-width: 1024px;
        max-width: 100vw;
    }
}