{% spaceless %}
{% load i18n %}

{% if site_url %}
    <div class="user-site">
        <a href="{{ site_url }}">{% trans 'View site' %}</a>
    </div>
{% endif %}
<ul class="user-menu">
    <li class="menu-label">
        <span>{{ request.user }}</span>
    </li>
    
    {% if user.has_usable_password %}
        <li>
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
        </li>
    {% endif %}
    <li>
        <a class="theme-toggle">
            <div class="visually-hidden theme-label-when-auto">{% translate 'Toggle theme (current theme: auto)' %}</div>
            <div class="visually-hidden theme-label-when-light">{% translate 'Toggle theme (current theme: light)' %}</div>
            <div class="visually-hidden theme-label-when-dark">{% translate 'Toggle theme (current theme: dark)' %}</div>
            <svg aria-hidden="true" class="theme-icon-when-auto">
                <use xlink:href="#icon-auto" />
            </svg>
            <svg aria-hidden="true" class="theme-icon-when-dark">
                <use xlink:href="#icon-moon" />
            </svg>
            <svg aria-hidden="true" class="theme-icon-when-light">
                <use xlink:href="#icon-sun" />
            </svg>
        </a>
    </li>
    <li class="logout">
        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
    </li>
</ul>

{% endspaceless %}