

a {

    &:link,
    &:visited {
        color: #0bf;
    }
}


#container {
    padding: 56px 0;
    background-color: #f4f4f4;
}

#header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 10px 20px;
    color: #222;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 10px 10px rgba(#f4f4f4, 1);

    a:link,
    a:visited {
        color: #444;
    }
}

#branding {
    float: none;

    h1 {
        color: #fff;
        font-size: 20px;
        line-height: 1;
    }

    a {
        position: relative;
        display: block;
        color: #fff;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    svg {
        display: block;
        width: 80px;
        margin-top: 2px;
    }

    path {
        fill: #333;
    }
}


#user-tools {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;

    a:link,
    a:visited {
        border-bottom-color: transparent;
    }

    a:focus,
    a:hover {
        border-bottom-color: #fff;
    }
}


.breadcrumbs {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 10px 20px;
    color: #222;
    font-weight: bold;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;

    a {
        font-weight: normal;

        &:focus,
        &:hover {
            color: #333;
            border-bottom: 1px solid #333;
        }

    }
}

.messagelist {
    z-index: 3;
    position: relative;
    box-sizing: border-box;

    li {
        margin: 0;
        padding-left: 40px;
        font-size: 15px;
        background-position: 15px 13px;
    }

    .success {
        margin: -1px 0;
        border-bottom: 1px solid #70bf2b;
        border-top: 1px solid #70bf2b;
    }
}


#content {
    padding: 20px;
}


#content-main {
    position: relative;
    display: flex;
    flex-flow: wrap;

    form,
    & > .module {
        width: 100%;
    }
}

.object-tools {
    position: absolute;
    right: 0;
    top: -48px;
    margin: 0;

    a:focus,
    a:hover {
        background-color: #417690;
    }
}


.module h2,
.module caption,
.inline-group h2, {
    box-sizing: border-box;
    color: #333;
    font-weight: bold;
    background-color: #ddd;
}

.module {
    display: block;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background: #f4f4f4;
}

.help,
p.help,
form p.help,
div.help,
form div.help,
div.help li {
    margin-top: 4px;
    font-size: 12px;
}

.timezonewarning  {
    font-size: 12px;
}

.button.default,
input[type=submit].default,
.submit-row input.default {
    background: #417690;
}

