#changelist {

    &.module {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #toolbar {
        order: 1;
        box-sizing: border-box;
        width: calc(100% - 260px);
        margin: 0;
    }

    #changelist-filter {
        order: 3;
        position: relative;
        top: auto;
        right: auto;
        box-sizing: border-box;
    }

    #changelist-form {
        order: 2;
        box-sizing: border-box;
        width: calc(100% - 260px);
        margin: 0;
    }

    .actions,
    .results {
        box-sizing: border-box;
        margin: 0;
    }

    #changelist-search {

        label {
            z-index: 2;
            position: relative;
            display: inline-block;
            width: auto;
            padding: 0 7px;

            img {
                margin: -4px 0 0;
            }
        }

        input#searchbar {
            z-index: 1;
            position: relative;
            box-sizing: border-box;
            height: auto;
            margin-left: -32px;
            padding: 5px 6px 5px 26px;
            border-radius: 0;
            background-color: #fff;

            &:focus {
                border-color: #0bf;
            }
        }

        input[type="submit"] {
            padding: 5px 6px;
            color: #666;
            font-size: 13px;
            line-height: 18px;
            border-radius: 3px;
            border-color: #ccc;
            box-shadow: none;

            &:hover {
                border-color: #ccc;
                background-color: #f2f2f2;
            }
        }
    }
}


#changelist-filter {

    li {

        &.selected {

            a {
                color: #111;
                font-weight: bold;
            }
        }
    }
}

.paginator {

    a:link, a:visited {
        background: $main_color;
        color: white;
    }
    a.showall {
        &:link, &:visited {
            background: none;
            color: $main_color;
        }
    }
}