#changelist-search {

}

#changelist-filter {

    li {

        &.selected {

            a {
                color: #111;
                font-weight: bold;
            }
        }
    }
}

.paginator {

    a:link, a:visited {
        background: $main_color;
        color: white;
    }
    a.showall {
        &:link, &:visited {
            background: none;
            color: $main_color;
        }
    }
}