input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus, select:focus,
.vTextField:focus {
    border-color: #0bf;
}

label {
    color: #333;
}

form {

    td,
    th {
        vertical-align: middle;
    }

    label {
        display: block;
        float: none;
        width: auto;
        box-sizing: border-box;
        padding: 4px 0;
    }

    label + p,
    label + div.help,
    label + div.readonly,
    input + p.help,
    input + div.help,
    select + p.help,
    select + div.help,
    textarea + p.help,
    textarea + div.help {
        margin-left: 0;
        padding-left: 0;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select {
        box-sizing: border-box;
        border-radius: 0;
        background-color: #fff;
    }

    .aligned {

        p.help,
        div.help {
            margin-left: 0;
            padding-left: 0;
            color: #999;
        }

        input {
            margin-left: 0;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
        }
    }
}


fieldset.module {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="number"],
    input[type="tel"],
    textarea,
    select,
    .vTextField,
    .vLargeTextField,
    .colM .aligned .vLargeTextField,
    .colM .aligned .vXMLLargeTextField {
        box-sizing: border-box;
        width: 100%;
    }

    input.vDateField,
    input.vTimeField {
        width: 120px;
        margin-right: 0;
        margin-bottom: 4px;
    }
}

fieldset.collapsed {
    border: 0;
    border-radius: 0;

    .form-row {
        display: none;
    }
}

.errornote {
    padding: 10px;
    border-radius: 0;
    border: 0;
    background-color: #faf0f0;
}

.form-row {
    float: none;
    box-sizing: border-box;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;

    &.errors {
        margin: 0 0 4px;
        background-color: #faf0f0;
        border-bottom: 1px solid #faf0f0;

        .errorlist {
            background-color: transparent;
            li {
                padding: 2px 0;
            }
        }
    }
}

div.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.aligned .form-row > div {
    display: block;
    width: 100%;
}

.aligned .form-row > .fieldBox,
.aligned .form-row > .field-box {
    width: auto;
    float: none;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 10px;
}

.paginator,
&.change-form .submit-row {
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 12px 20px;
    background-color: #f4f4f4;
    border: 0;
    border-top: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 -10px 10px rgba(#f4f4f4, 1);
}

.filtered .paginator {
    width: 100%;
    margin: 0;
}

.calendarbox,
.clockbox {
    width: auto;
}