@media (max-width: 1024px) {

    textarea {
        max-width: 100%;
        max-height: 100000000000vh;
    }

    .related-widget-wrapper {

        .selector {

            .selector-chooser {
                width: 26px;
            }
        }

        .selector.stacked {

            .selector-chooser {
                margin: 10px 0;
            }
        }
    }

    .form-row {
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="url"],
        input[type="tel"],
        input[type="number"],
        textarea,
        select,
        .vTextField {
            min-height: 20px;
            padding: 5px 6px;
            font-size: 13px;
        }
    }

    .aligned {

        .add-another,
        .related-lookup,
        .datetimeshortcuts,
        .related-lookup + strong {
            align-self: center;
            margin-left: 0;
        }
    }
}

@media (max-width: 767px) {

    #container {
        padding-bottom: 210px;
    }
}