 $buttons-border-radius: 3px;

.calendar td a:active,
.timelist a:active {
    color: white;
    background: #417690;
}

.calendar-shortcuts,
span.datetimeshortcuts {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;

    a {
        display: inline-block;
        box-sizing: border-box;
        height: 30px;
        margin: 0 0 4px 6px;
        padding: 4px;
        color: #666;
        font-size: 13px;
        border: 1px solid #ddd;
        border-radius: $buttons-border-radius;

        &:hover {
            background-color: #f2f2f2;
        }
    }
}

.datetime {

    .timezonewarning {
        color: #999;
    }

    .datetime-label {
        display: inline-block;
        vertical-align: middle;
        min-width: 60px;
        color: #666;
        font-size: 13px;
        font-weight: bold;
    }
}


.related-widget-wrapper {
    display: flex;
    flex-wrap: wrap;
    float: none;

    & > select {
        width: calc(100% - 126px);
    }

    ul {
        width: 100%;
        margin: 0;
    }

    .add-related,
    .delete-related,
    .change-related {
        display: block;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        margin: 6px 10px 6px 0;
        padding: 5px;
        line-height: 1;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: $buttons-border-radius;

        img {
            display: block;
            width: 13px;
        }
    }

    .add-related {
        border-color: #5da03d;
    }

    .delete-related {
        border-color: #dd4646;
    }

    .change-related {
        border-color: #0bf;
    }

    .selector {
        display: flex;
        align-items: center;
        width: 100%;

        .selector-available,
        .selector-chooser,
        .selector-chosen {
            float: none;
        }

        .selector-available,
        .selector-chosen {
            width: calc(50% - 16px);
        }

        .selector-chooser {
            width: 22px;
            margin: 0 5px;
        }

        .selector-filter {
            display: flex;
            box-sizing: border-box;
            align-items: center;
            min-height: 50px;

            label {
                float: none;
                margin: 0 10px 0 0;
            }
        }

        select {
            height: 300px;
        }

        .selector-chosen select {
            height: 350px;
        }

        select {
            padding: 0;
        }

        option {
            padding: 4px;
        }
    }

    .selector.stacked {
        flex-direction: column;

        .selector-available,
        .selector-chosen {
            width: 100%;
        }

        .selector-chooser {
            display: flex;
            justify-content: center;
            width: auto;
            margin: 0 0 10px;

            li {
                float: none;
            }
        }
    }
}

