
&.cms-admin-sideframe {
    margin-top: 0 !important;  // always. against the cms itself.
}


&.cms-admin-sideframe, &.cms-admin-modal {
    #header {
        height: $cms_header_height;
    }
}


// changelist / pagetree
.cms-pagetree-root {
    box-shadow: none !important;
}

.cms-pagetree-header {
    border: none  !important;
    padding: 0 0 15px 0  !important;
}