form .form-row .filer-dropzone {
    width: 100%;

    & ~ a {
        display: none !important;
    }
}

.filebrowser {
    
    #container {
        .breadcrumbs + #content, 
        .breadcrumbs + .messagelist + #content {
            margin-left: 0% !important;
        }
    }
}